:root {
  --bg: #0b0c1e;
  --accent: #1f65d6;
  font-family: Inter, sans-serif;
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: white;
}

span {
  color: var(--accent);
  font-weight: bold;
}